.users {
    border:double black 2px;

}

.main {

    margin: 20px;
    margin-left: 200px;
    padding: 20px;
}
.userslist {
    list-style-type: none;
}
.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px;
    color: black;
    padding: 10px;
    text-align: center;

}

.add_new_prod_sec {
    background-color: seagreen;
    padding: 10px;
    margin: 20px;
   
}

    .add_new_prod_sec input {
        margin-right: 10px;
        height: 25px;
    }



.prod_table {
    width: 900px;
    border:solid black 1px;
    padding:20px;
}