.users {
    border:double black 2px;

}

.logo {
    margin-left: 400px;
}

.main {

    margin: 20px;
    margin-left: 200px;
    padding: 20px;
}
.userslist {
    list-style-type: none;
}

.Products_List {
    list-style-type: none;
}


.search_area {


    display: flex;
    justify-content: flex-end;
}


.search_area span {
    font-size: 20px;
    margin-right: 10px;
}
.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px;
    color: black;
    padding: 10px;
    text-align: center;

}

.add_new_prod_sec {
    background-color: seagreen;
    padding: 10px;
    margin: 20px;
}

    .add_new_prod_sec input {
        margin-right: 10px;
        height: 25px;
    }



.prod_table {
    width: 1400px;
    border: solid black 1px;
    padding: 50px;
    text-align: center;

}
    .prod_table tr:hover {
        background-color: lightgray;
    }



    .Products_List {
        width: 1400px;
        border: solid black 1px;
        padding: 20px;
        margin-left: 220px;
    }

    .Products_List ul li {
        list-style:outside;   
    }